/* ================= SERVICES ================= */

.services {

  .container {
    padding-bottom: 40px;
  }

  .services-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
  }
}